@use '../../styles/global.scss' as *;

.loginPage {
    width: 100%;
    max-width: 424px;

    &__header {
        margin-bottom: 54px;
    }

    &__title {
        margin: 0 0 8px;
        font-size: 28px;
        font-weight: 600;
        color: var(--color-text);
    }

    &__subtitle {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        color: var(--color-text);
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__passwordWrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__forgotPassword {
        align-self: flex-end;
        font-size: 14px;
        font-weight: 400;
        color: var(--color-text-3);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__submit {
        margin-top: 10px;
    }

    &__submitError {
        margin: 4px 0 0;
        font-size: 14px;
        color: var(--color-error);
    }

    &__signupLink {
        margin-top: 50px;
        text-align: center;
        font-size: 14px;
        color: var(--color-text-2);

        a {
            color: var(--color-text);
            font-weight: 600;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
